langchain==0.1.17
python-dotenv
ipykernel
langchain-community
langchain_groq
langchain_chroma
langchain_huggingface
langchain-text-splitters
pypdf
bs4
sentence_transformers
faiss-cpu
Streamlit
langchain-openai
chromadb
arxiv
duckdb
pandas
openai
pymupdf
